<div class="container">

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <h1>Register</h1>
    <form name="registerForm" novalidate>
        <input ng-model = "username"
                type="text"
                class="form-control"
                placeholder="username"
                required
                name="username"/>
        <span ng-show="registerForm.$submitted && registerForm.username.$invalid">
            Username is required
        </span>
        <input ng-model = "password"
                type="password"
                class="form-control"
                placeholder="password"
                required
                name="password"/>
        <span ng-show="registerForm.$submitted && registerForm.password.$invalid">
            Password is required
        </span>
        <input ng-model = "passwordVerify"
                type="password"
                class="form-control"
                placeholder="verify password"
                required
                name="password2"/>
        <span ng-show="registerForm.$submitted && registerForm.password2.$invalid">
            Verify Password is required
        </span>
        <button class="btn btn-primary btn-block"
                ng-click="model.register(username, password, passwordVerify)">
            Register
        </button>
        <a class="btn btn-danger btn-block"
            href="#/login">Cancel</a>
    </form>
</div>